extends layout

block content

  if registrations.length
    table
      tr
        th Firstname
        th Surname
        th Location
      each registration in registrations
        tr
          td= registration.firstname
          td= registration.surname
          td= registration.location
  else
    p No registrations yet :(
